@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* default styles */
* {
  margin: 0;
  font-family: "Quicksand";
  
}

.header {
  grid-template-columns: 1fr 1fr; 
  background-color: #42a5f5;
  border-bottom: 1px solid #f2f2f2; 
  color: rgb(255, 255, 255);
  
}

.navbar{
  display: flex;
  border-bottom: 1px solid #fafafa;
}

.navbar .links  {
  margin-left: auto;
}
.navbar .h3  {
  padding-left: auto;
}



.navbar a {
  margin-left: 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 6px;
}

.navbar a:hover {
  color: #35f15e;
}

body{
    background-color: #42a5f5;
    color: rgb(255, 255, 255);
    padding: 20px;    
}


.video-list{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
  border-top:  1px solid #fafafa;
}

.Error404 {
  text-align: center;
  margin: 0 auto;
}

.add-video{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.add-video h2 {
  font-size: 20px;
  color: #42a5f5;
  margin-bottom: 10px;
}
.add-video input, .add-video textarea, .add-video select{
  color: #42a5f5;
  font-weight: bold; 
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
}
.add-video select option {
  background-color: #fafafa;
  color: #42a5f5;
}

.add-video button {
  background: #42a5f5;
  color: #fafafa;

  font-weight: bold;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.video-details h3{
  margin-top: 10px;
}
.video-details p{
  text-indent: 30px;
}


.video-list {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
  border-top:  1px solid #fafafa;
}
.video-list:hover {
  box-shadow: 1px 3px 5px #fafafa;;
}
.video-list a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.video-list h2 {
  font-size: 20px;
  color: #fafafa;
  margin-bottom: 8px;
}
.navbar button{
  background: none!important;
  border: none;
  color: #fafafa;
  padding: 0!important;
  text-decoration: none;
  cursor: pointer;
}

.navbar b:hover {
  color: #35f15e;
}

.page-home button {
  padding: 5px 5px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #42a5f5;
  background-color: #fafafa;
  border: 1px solid #42a5f5;
  font-weight: bold;
}

.page-home button:hover {background-color: #fafafa}

.page-home button:active {
  background-color: #fafafa;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.login link{
  text-decoration: none;
}